body {
  background: #ddd;
  xbackground-image: -moz-linear-gradient(10%, #ddd, #aaa);
  border-top: solid #447a41 4px;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-weight: 200;
}

#topSocial {
 float: right;
 position: static;
}

#topSocial ul li a.twitter,
#topSocial ul li a.twitter:hover 
{
  background: url(../images/twitter.png) 0 9px no-repeat;
}

#topSocial ul li a.facebook,
#topSocial ul li a.facebook:hover
{
  background: url(../images/facebook.png) 0 9px no-repeat;
}

#topSocial ul li a.rss,
#topSocial ul li a.rss:hover
{
  background: url(../images/rss.png) 0 9px no-repeat;
}

#topSocial ul li a:hover {
  opacity: 0.8;  
}

#mainWrapper {
  background-image: none;
}

#nav {
  background: #222;
}

#navWrapper {
  margin: 0 auto;
  width: 960px;
}

#topMenu {
  letter-spacing: 0.6px;
  overflow: hidden; /* fix float container height bug */
  position: static;
}

#topMenu ul.primary-links li a {
  color: #f7eb31;
}

#topMenu ul.primary-links li a:hover,
#topMenu ul.primary-links li a.active
{
  background: #f7eb31;
  color: #333;
  text-shadow: 2px 2px 2px #ccc;
}

#header {
  height: auto;
}

#header #logo {
  float: left;
  margin-top: 35px;
  padding-left: 33px;
  padding-right: 64px;
  position: static;
}

#header .block {

}

#header .block .content {
  overflow: auto;  
}

/* --- BLOCKS --- */

#block-dcamp-dcamp-logo {
  float: left;  
}

#block-boxes-custom_box_event_list,
#block-boxes-custom_box_event_list_fr {
  padding-top: 3em;  
}

#boxes-box-custom_box_event_list .vevent,
#boxes-box-custom_box_event_list_fr .vevent {
  background: rgba(255, 255, 51, 0.2);
  border-radius: 4px;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  -moz-border-radius: 4px;
  margin: 0 0 1em 0;
  padding: 0.5em;
  text-shadow: 1px 1px #ddd;
  text-transform: uppercase;
  width: 277px;
}

#boxes-box-custom_box_event_list abbr,
#boxes-box-custom_box_event_list_fr abbr {
  border-bottom: none;
  font-size: 13px;
  letter-spacing: 0.7px;
}

#boxes-box-custom_box_event_list a,
#boxes-box-custom_box_event_list_fr a {
  background: url(../images/mfbullet.gif) no-repeat 2px 5px;
  color: #32932d;
  padding-left: 18px;
}

#boxes-box-custom_box_event_list a:hover,
#boxes-box-custom_box_event_list_fr a:hover {
  color: #c24425;
}

#boxes-box-custom_box_event_list .location-wrapper,
#boxes-box-custom_box_event_list_fr .location-wrapper {
  display: none;
}

#block-locale-0 {
margin-bottom: 0;
float: right;
}

#block-locale-0 ul li {
list-style-type: none;
display: inline;
font-size: 0.75em;
margin-bottom: 0;
padding: 0 3px;
text-transform: uppercase;
}

#header .block-locale {
  padding-right: 1.5em;
  padding-top: 0.8em;
}

/* --- FORMS / TABS --- */
#content #colLeft ul.tabs {
  border: none;
  margin: 0 0 2em 0;
  padding: 0;
}

ul.tabs li {
  padding: 0;
}

ul.tabs li.active a {
  background: transparent;
  border: none;
  color: #000;
  font-weight: bold;
}

ul.tabs li a,
ul.tabs li a.active
{
  background: transparent;
  border: none;
  padding: 0.5em;
}

ul.tabs li a.active {
  font-weight: bold;
}


input.form-text {
  padding: 4px;
  border-top: solid #aaa 1px;
  border-right: solid #aaa 1px;
  border-bottom: solid #ccc 1px;
  border-left: solid #ccc 1px;
}

.views-exposed-form {
  background: rgba(255, 255, 51, 0.2);
  padding: 0.5em 1em;
}

.views-exposed-widget {
  margin-right: 2em;
}

/* --- --- */

#content {
  margin-top: 35px;
}

#content .nodeInner {
  -moz-border-radius: 4px;
}



