body {
  background: #fafafa;
  xborder-top: solid #447a41 4px;
}

body, body *, td, th, input, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  font-weight: 200;
}

body strong,
body .vevent abbr
 {
  font-weight: 500;
}

body.sidebar-right #main {
  width: 630px;
  xborder: solid red 1px;
}

body.sidebar-right #sidebar-right {
  xborder: solid red 1px;
  width: 270px;
}

#wrapper {
  background: #fff;
}

#nav-wrapper {
  background: #fff;
  border-top: solid #f0f0f0 1px;
  border-bottom: solid #f0f0f0 1px;
  margin-bottom: 2em;
}

#nav {
  xmargin: 0 auto;
  xwidth: 960px;
}

#nav {
  overflow: hidden; /* fix float container height bug */
  position: static;
}

#nav ul.menu {
  margin: 0;
}

li,
.item-list ul li
{
  list-style-image:url(../images/bullet1.png);
}

table td li {
  list-style-image:url(../images/bullet2.png);
}

#nav ul.menu li {
  display: inline;
  list-style-image: none;
  list-style-type: none;  
}

#nav ul.menu li a {
  color: #5089d1;
  border-right: solid #f0f0f0 1px;
  display: block;
  float: left;
  margin: 4px 0;
  padding: 1em;
  text-decoration: none;
}

#nav ul.menu li.last a {
  border-right: none;
}

#nav ul.menu li a:hover,
#nav ul.menu li a.active
{
  background: #fff;
  color: #ca5536;
}


#header {
  height: auto;
  margin: 0;
  padding-top: 2em;
}

#header #logo {
  float: left;
  margin-top: 22px;
  padding-left: 33px;
  padding-right: 64px;
  position: static;
}

#header .block {

}

#header .block .content {
  overflow: auto;  
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
}

body.page-node #sidebar-right {
  margin-top: 35px;
} 

/* --- BLOCKS --- */

#block-menu-primary-links {
  margin-bottom: 0;
}

body.sidebar-right #sidebar-right .block {
  xpadding: 0.5em;
}

#block-blockify-blockify-logo {
  float: left;
}

#block-boxes-custom_box_event_list {
 position: static; 
}

#block-boxes-custom_box_event_list .summary,
#block-boxes-custom_box_event_list_fr .summary {
 text-transform: uppercase;
}

#boxes-box-custom_box_event_list .vevent,
#boxes-box-custom_box_event_list_fr .vevent {
  background: rgba(255, 255, 51, 0.2);
  border-radius: 4px;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  -moz-border-radius: 4px;
  margin: 0 0 1em 0;
  padding: 0.5em;
  xtext-shadow: 1px 1px #ddd;
  xtext-transform: uppercase;
}

#boxes-box-custom_box_event_list abbr,
#boxes-box-custom_box_event_list_fr abbr {
  border-bottom: none;
  font-size: 13px;
  letter-spacing: 0.7px;
}

#boxes-box-custom_box_event_list a,
#boxes-box-custom_box_event_list_fr a {
  background: url(../images/mfbullet.gif) no-repeat 1px 3px;
  color: #32932d;
  font-size: 12px;
  padding-left: 18px;
}

#boxes-box-custom_box_event_list a:hover,
#boxes-box-custom_box_event_list_fr a:hover {
  color: #c24425;
}

#boxes-box-custom_box_event_list .location-wrapper,
#boxes-box-custom_box_event_list_fr .location-wrapper {
  display: none;
}

#block-locale-0 {
margin-bottom: 0;
float: right;
}

#block-locale-0 ul li {
list-style-type: none;
display: inline;
font-size: 0.75em;
margin-bottom: 0;
padding: 0 3px;
text-transform: uppercase;
}

#header .block-locale {
  padding-right: 1.5em;
  padding-top: 0.8em;
}

#boxes-box-presskit_side ul {
  border-bottom: solid #eee 1px;
  padding-bottom: 2em;
  margin-bottom: 2.1em;
}

#boxes-box-presskit_side ul.more-info li {
  margin-bottom: 1em;
}

#content-side {
  float: right;
  width: 35%;
}

#footer {
  background: #ddd;
  height: 1%;
  margin-bottom: 0.8em;
  overflow: hidden;
  padding: 0.5em;  
}

#footer .footer-block {
  background: #eee;
  float: left;
  padding: 0.5em;
  width: 31%;
  margin-right: 0.5em;
}

#footer .footer-block .block {
  margin-bottom: 0;
}

#footer #footer-mid {
  padding: 0.5em 1.2em;
}

#footer #footer-right {
  margin-right: 0;
  float: right;
}

#boxes-box-footer_friends p {
  color: #666;
  margin-bottom: 0;
}

#block-boxes-venue_promo,
#boxes-box-venue_promo p {
  margin-bottom: 0;
}

/* --- FORMS / TABS --- */
ul.tabs {
  border: none;
  margin: 0 0 2em 0;
  padding: 0;
}

ul.tabs li {
  padding: 0;
}

ul.tabs li a,
ul.tabs li a.active,
ul.tabs li.active a

{
  background: transparent;
  border: none;
  padding: 0.5em;
}

ul.tabs li.active a {
  font-weight: bold;
}

input.form-text {
  padding: 4px;
  border-top: solid #aaa 1px;
  border-right: solid #aaa 1px;
  border-bottom: solid #ccc 1px;
  border-left: solid #ccc 1px;
}

.views-exposed-form {
  background: rgba(255, 255, 51, 0.2);
  padding: 0.5em 1em;
}

.views-exposed-widget {
  margin-right: 2em;
}


/* --- VIEWS --- */

.view-id-front {
  border-right: solid #ddd 1px;
  margin-right: 240px;
  padding-right: 1.5em;
}


.front .view h2, 
.front .block-views h2 
{
  font-size: 1.6em;
}

.view-partners .item-list ul li {
  list-style-image: none;
}

.view-Sponsors .views-field-field-logo-fid a {
  border: solid #ccc 1px;
  background: #fff;
  display: block;
  display: table-cell;
  height: 183px;
  text-align: center;
  padding: 0.6em 0.2em;
  width: 190px;
}

#content .view-Sponsors img {
  padding: 0;
}

#block-views-partners-block_1,
#block-views-partners-block_2,
#block-views-partners-block_3 
{
  text-align: right;  
}

#block-views-partners-block_1 h2,
#block-views-partners-block_2 h2,
#block-views-partners-block_3 h2
{
  font-size: 1.6em;
}

.view-partners .item-list ul {
  margin: 0.5em 0 0 0;
  padding: 0;  
}

.view-partners .item-list ul li {
  float: right;
  list-style-type: none;
  padding: 0 0 1em 1.5em;
}

.view-partners .item-list ul li img {
  background: #fff;
  border: solid #ccc 1px;
  padding: 3px;
}

/* --- --- */

#content {
  margin-top: 35px;
}

img#auf-gmap {
  border: solid #ccc 1px;
  padding: 1px;
}

.content .subtitle {
  background-color: rgba(80, 137, 209, 0.8);
  color: #fff;
  left: 20px;
  margin-right: 21px;
  padding: 0.5em;
  position: relative;
  top: -60px;
}

.page-node .content table {
  border-collapse: collapse;  
}

.page-node .content table td {
  vertical-align: top;
  border: solid #ccc 1px;
}

.submitted {
  border-bottom: 1px solid #EEE;
  color: #CCC;
  padding-bottom: 1.2em;
}